<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xmlns:context="http://www.springframework.org/schema/context"
   xsi:schemaLocation="
      http://www.springframework.org/schema/beans 
      http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
      http://www.springframework.org/schema/context 
      http://www.springframework.org/schema/context/spring-context-4.2.xsd">
           
      <!-- Activity -->
      
      <bean id="defaultActivityFacade" class="uk.co.philharper.facades.impl.DefaultActivityFacade" />
      <bean id="defaultActivityService" class="uk.co.philharper.services.impl.DefaultActivityService" />
      <bean id="restActivityDao" class="uk.co.philharper.dao.impl.RestActivityDAO" />
      
      <!-- Authorisation -->
      
      <bean id="defaultAuthorisationFacade" class="uk.co.philharper.facades.impl.DefaultAuthorisationFacade" />
      <bean id="defaultAuthorisationService" class="uk.co.philharper.services.impl.DefaultAuthorisationService" />
      <bean id="stravaAuthorisation" class="uk.co.philharper.security.authorisation.impl.StravaAuthorisation" />
      
      <!-- Segment -->
      
      <bean id="defaultSegmentFacade" class="uk.co.philharper.facades.impl.DefaultSegmentFacade" />
      <bean id="restSegmentDao" class="uk.co.philharper.dao.impl.RestSegmentDAO" />
      
      <!-- User -->
      
      <bean id="defaultUserFacade" class="uk.co.philharper.facades.impl.DefaultUserFacade" />
      <bean id="defaultUserService" class="uk.co.philharper.services.impl.DefaultUserService" />
      <bean id="MySqlUserDao" class="uk.co.philharper.dao.impl.MySqlUserDAO" />
 
</beans>